streamlit==1.40.2  # Última versão do Streamlit (verifique a versão instalada no terminal)
streamlit-option-menu==0.4.0  # Para o menu lateral com ícones
requests==2.32.3  # Para requisições HTTP (usado para acessar a API do IBGE)
